name: Misinfo Project CI/CD

on:
  push:
    branches: [ "main" ] 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_MODEL: ${{ secrets.HF_MODEL }}
        run: |
          echo "HF_TOKEN=$HF_TOKEN" > .env
          echo "HF_MODEL=$HF_MODEL" >> .env
          docker build -t $ECR_REGISTRY/misinfo_repo:latest .
          docker push $ECR_REGISTRY/misinfo_repo:latest

      - name: Update EC2 Container via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 98.92.82.192
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 527582557235.dkr.ecr.us-east-1.amazonaws.com
            docker pull 527582557235.dkr.ecr.us-east-1.amazonaws.com/misinfo_repo:latest
            docker stop misinfo_service || true
            docker rm misinfo_service || true
            docker run -d -p 8000:8000 -p 8501:8501 --name misinfo_service 527582557235.dkr.ecr.us-east-1.amazonaws.com/misinfo_repo:latest