name: Misinfo Project CI/CD

on:
  push:
    branches: [ "main" ] 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Testing Dependencies
        run: |
          pip install pytest pytest-asyncio httpx fastapi uvicorn python-dotenv huggingface_hub pandas openpyxl
          pip install -r requirements.txt

      - name: Run Automated Tests
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_MODEL: ${{ secrets.HF_MODEL }}
        run: |
          pytest test_main.py

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_MODEL: ${{ secrets.HF_MODEL }}
        run: |
          echo "HF_TOKEN=$HF_TOKEN" > .env
          echo "HF_MODEL=$HF_MODEL" >> .env
          docker build --no-cache -t $ECR_REGISTRY/misinfo_repo:latest .
          docker push $ECR_REGISTRY/misinfo_repo:latest

      - name: Deploy to Kubernetes via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 98.92.82.192
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~
            if [ -d "Misinformation-detector" ]; then
              cd Misinformation-detector && git pull origin main
            else
              git clone https://github.com/MohammadAghaei1/Misinformation-detector.git && cd Misinformation-detector
            fi
            
            mkdir -p /home/ec2-user/misinfo_data
            
            sudo kubectl apply -f k8s/k8s_deployment.yaml
            sudo kubectl rollout restart deployment/misinfo-app
            sudo kubectl get pods